.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p {
  margin-top: 8vw;
  width: 60vw;
  line-height: calc(8px + 3vw);
}

.rulesTitle {
  margin-top: 4vw;
  margin-bottom: 3vw;
  font-weight: 500;
  font-size: calc(8px + 2vw);
}

.rules {
  width: 60vw;
  line-height: calc(8px + 3vw);
  margin-bottom: 5vw;
}
.instructor {
  display: flex;
}
.instructor > div {
  width: 40vw;
}
