.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p {
  margin-top: 8vw;
  width: 60vw;
  line-height: 3vw;
}

.rulesTitle {
  margin-top: 4vw;
  margin-bottom: 3vw;
  font-weight: 500;
  font-size: 2vw;
}

.rules {
  width: 60vw;
  line-height: 3vw;
  margin-bottom: 5vw;
}
