.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3vw;
  background-color: #b0b6ba;
  height: 100vh;
}
.mainContent > * {
  width: 55vw;
}
.signUp {
  font-size: 2vw;
  width: unset;
  background-color: rgb(198, 198, 243);
  border-style: none;
  border-radius: 2vw;
  padding: 1vw;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .signUp:hover {
    background-color: rgb(255, 129, 10);
    color: white;
    /* font-size: 2.2vw; */
  }
}
@media screen and (max-width: 500px) {
  .mainContent > * {
    width: 70vw;
  }
  .signUp {
    width: unset;
    font-size: 5vw;
  }
}
